.bgsc {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(C:\Users\USER\Desktop\Xception\public\images\background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    z-index: -1;
    opacity: 1;
    filter: blur(0px);
}